<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-purple.css">
 
  <style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    body {font-family: Arial, Helvetica, sans-serif;}
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h4>¡Hola!</h4>
      <P>Mi nombre es Efrain olivera, pero mis amigos me conocen como "Soy una batería".</P>
      <P>Soy un desarrollador web de pila completa, familiarizado con HTML, CSS, JavaScript, Python / flask, Ruby & Rails / vagrant, Mean / node.js, Express / Mongo / Angular. Frameworks y lenguajes de programación, soy autodidacta y recientemente completé un bootcamp de codificación.</P>
      <p>Este proyecto / aplicación es una aplicación de redes sociales, donde familiares / amigos pueden comunicarse y compartir experiencias cotidianas. La aplicación se ha creado con Html / css, plantillas W3.css, javaScript como parte frontal y Ruby & Rails como parte posterior. La aplicación se ejecuta en AWS, ubuntub OS y se publica como la base de datos.</p>
      <p>Nota: La aplicación está al 50% de finalización, las pruebas y actualizaciones están actualmente en proceso. Gracias</p>
    </div>
  </div>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user first logs in open the modal
    <% if session[:number] === 99 %>
    $(window).load(function(){
      modal.style.display = "block";
    });
    <% end %>
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
      <% session[:number] = 100 %>
      
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
        <% session[:number] = 100 %>
      }
    }
  </script>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d1 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d1" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d1"><i class="fa fa-home w3-margin-right"></i>famjunto</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"></a>
  </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d1 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large"><%= @find.name %></a>
  </div>
  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center"><%= @find.name %></h4>
            <% if @find.avatar === nil %>
            <p class="w3-center"><img src= 'https://www.w3schools.com/howto/img_avatar.png' class="w3-circle" style="height:106px;width:106px" alt="Avatar"><br></p> 
            <% else %>
            <p class="w3-center"><img src= '/assets/<%= @find.avatar %>' class="w3-circle" style="height:106px;width:106px" alt="Avatar"><br></p> 
            <% end %>
            <hr>
            <a href="/user/<%= @find.id %>/edit"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" ></i></a>Editar perfil
            <p></i>Email: <%= @find.email%></p>
            <p></i>Creado: <%= @find.created_at %></p>
          </div>
        </div>
        <br>
        <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Amigos</button>
          <div id="Demo1" class="w3-hide w3-container">
            <% @current_users.each do |info| %>
            <% if info.avatar === nil %>
              <p class="w3-center"><img src="https://www.w3schools.com/howto/img_avatar.png" class="w3-circle" style="height:30px; width:30px; float: left; margin-right: 10px;" alt="Avatar"></p><%= info.name %>
              <% else %>
                <p class="w3-center"><img src="/assets/<%= info.avatar %>" class="w3-circle" style="height:30px; width:30px; float: left; margin-right: 10px;" alt="Avatar"></p><%= info.name %>
                <% end %>
            <% end %>
          </div> 
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Mis fotos</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
            <P>Sigo trabajando en ello, pronto!</P>
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
    </div>
      <!-- Comments placement -->
      <div class="w3-col m7">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">famcomentarios</h6>
                <form action="/posts/new/<%= @find.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">  
                  <input type="text" name="content" contenteditable="true" class="w3-border w3-padding" style="width: 100%">
                  <br>
                  <br>
                  <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> &nbsp;Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- display all comments -->
        <% @users.each do |mss| %>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <% if mss.user.avatar === nil %>
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px;">
          <% else %>
            <img src="/assets/<%= mss.user.avatar %>" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px; height: 50px;">
          <% end %>
          <h4> <%= mss.user.name %> </h4>
          <span class="w3-right w3-opacity"> <%= mss.created_at %></span>
          <h4>  </h4><br>
          <hr class="w3-clear">
          <p> <%= mss.messages %> </p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <!-- <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Like</button>
              </form> -->
              <br>
              <form method="post">
              <a href="/delete/<%= mss.id %>/mss" data-method="delete" <% if mss.user_id != session[:id] %> style= "display: none;" <% end %> >Eliminar comentario</a>
              <br>
              <a href="/edit/<%= mss.id %>/mss" <% if mss.user_id != session[:id] %> style= "display: none;" <% end %>>Editar comentario</a>
              </div>
             <!--  <p># likes</p> -->
            </div>
          </div>
        <% end %>
      </div>
      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Próximas reuniones</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/GoogleMaps_logo.svg/1011px-GoogleMaps_logo.svg.png" alt="Forest" style="width:100%;">
            <p><strong></strong></p>
            <p>Coming soon</p>
            <!-- <p><button class="w3-button w3-block w3-theme-l4">Info</button></p> -->
          </div>
        </div>
        <br>
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Solicitud de amistad</p>
            <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
            <span>Coming soon</span>
            <div class="w3-row w3-opacity">
              <div class="w3-half">
               <!--  <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
              </div>
              <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5><a href="/">Cerrar sesión</a></h5>
  </footer>
  <script>
  // Accordion
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-theme-d1";
    } else { 
      x.className = x.className.replace("w3-show", "");
      x.previousElementSibling.className = 
      x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
  }
  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>
</html> 
